@inject IAuthorizationService AuthorizationService
@using WebApp.Identity.Enum
@using Microsoft.AspNetCore.Authorization

@*@if ((await AuthorizationService.AuthorizeAsync(User, EnumPerfil.Administrador.ToString())).Succeeded)
{*@
    <ul class="mr-auto navbar-nav">
        <li class="nav-item">
            <a class="nav-link">ADMIN</a>
        </li>
    </ul>
@*}*@


